.basic-data
	display block
	&__row
		display flex
	&__key
		flex-shrink 0
		margin-right 20px
		margin-left 4px
		display block
		font-family 'PT Sans', sans-serif
		font-size 22.43px
		font-weight 700
		line-height 50px
	&__value
		padding-left 10px
		display block
		width 100%
		min-height 62.5px
		font-family courier
		font-size 30px
		line-height 30px
		white-space nowrap
		text-overflow ellipsis
		background url(../images/row-bg.png) 0 53% no-repeat