.about
	display block
	padding-bottom 20px
	&__text/*изначально делал через тег textarea, оставил свойства для него на всякий случай:) решил, что лучше через p, потому-что высота добавляется по размеру содержимого.*/
		margin 0
		padding 0
		width 100%
		min-height 172px
		font-family courier
		font-size 30px
		line-height 57px
		border none
		resize none
		overflow hidden
		background-color transparent
		background-attachment local
		background-image linear-gradient(90deg, transparent 0, transparent 0), linear-gradient(270deg, transparent 0, transparent 0), repeating-linear-gradient(transparent, transparent 55px, #3b201b 0, #3b201b 57px, transparent 0)