.scale
	position relative
	padding-bottom 26px
	display block
	width 100%
	cursor pointer
	overflow hidden
	+below(640px)
		padding-bottom 110px
	+below(450px)
		padding-bottom 160px
	&__slider
		position relative
		width 100%
		height 20px
	&__holder
		position absolute
		width 40px
		height 40px
		background url(../images/scale-mark.png) center center no-repeat
	&__range
		&:after
			display block
			width 100%
			height 36px
			content ''
			background url(../images/scale.png) center bottom -7px no-repeat
			background-size cover
			+below(500px)
				background-size contain
	&__items
		position relative
		margin-top 5px
		width 100%
		li
			position absolute
			max-width 170px
			font-family 'PT Sans', sans-serif
			font-size 13px
			font-weight 700
			transition transform .5s
			+below(640px)
				transform rotate(45deg) translateX(50%)
			+below(450px)
				transform rotate(90deg) translateX(50%)
			&:nth-of-type(1)
				left 0
				+below(640px)
					left -20px
			&:nth-of-type(2)
				left 20%
				+below(640px)
					left 8%
				+below(450px)
					left 2%
			&:nth-of-type(3)
				left 50%
				+below(640px)
					left 35%
				+below(450px)
					left 33%
			&:nth-of-type(4)
				right 0
				+below(640px)
					right 40px
				+below(450px)
					right -15%