mixin checkbox(data)
	+b('label').checkbox&attributes(attributes)
		input(type="checkbox" data-check='#{data.checked}')
		+e('span').btn
		+e('span').label #{data.value}
		a(href="http://#{data.anchor}") #{data.anchor}
