.footer
	display flex
	min-height 62px
	&__key
		flex-shrink 0
		margin-right 20px
		margin-left 4px
		display block
		font-family 'PT Sans', sans-serif
		font-size 22.43px
		font-weight 700
		line-height 50px
	&__value
		padding-left 10px
		padding-bottom 10px
		display block
		width 220px
		height 37px
		font-family courier
		font-size 30px
		border-top none
		border-left none
		border-right none
		border-image url(../images/row-bg.png) 5 round round
		background none
